*{
  box-sizing: border-box;
  margin: 0;
}

body{
  background-color: #f5f8fa;
}
.container{
  width: 100vw;
  margin: auto;
  z-index: 1;
}

.navbar{
  width: 80%;
  height: 80px;
  line-height: 80px;
  margin: auto;
  position: relative;
}

.navbar-left img{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.navbar-left{
  float: left;
  width:25%;
}

.navbar-right{
  float: right;
  width:60%
  text-align:center;
}

.primoos{
  float: left;
}

.container1{
    background-color: #f5f8fa;
    border-bottom: 1px solid #cbd6e2;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    z-index: 2;
}

.lingua{
 display: inline-block;
 margin-left: 40px;
 color: #33475b;
}

#bottone{
  color: #7c98b6;
  display: inline-block;
margin-left: 10px;
}

.secondo{
  float: right;
  width:25%;
}

.fa-search{
  color:dodgerblue;
  margin-left: 25px;
}

#log{
  border: coral 1px solid;
  color: coral;
  padding:8px;
  border-radius: 5px;
  font-size: 0.75rem;
  margin: 10px;
}

#log-back{
  background-color: coral;
  padding:8px;
  border-radius: 5px;
  color:white;
  border: coral 1px solid;
  font-size: 0.75rem;
}

.number{
  display: inline-block;
  margin-left: 60px;
  color: #33475b;
}

.fa-globe{
  font-size: 23px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: inline-block;
  color: #33475b;
}

.fa-grip-lines-vertical{
  margin-left: 10px;
  font-size: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color:#cbd6e2;
}

.primo{
  padding: 30px;
}

.fa-sort-down{
 display: inline-block;
 position: relative;
 color: #7c98b6;
 font-size: 23px;
}

main{
  background-color: cornflowerblue;
}

.section1{
  width: 80vw;
  margin: auto;
}

.cont{
  display: inline-block;
  width:80%;
  max-width: 430px;
  text-align: left;
  font-size: 30px;
  color:  #fff;
}

.cont2{
  margin-top: 20px;
}

#ini{
  margin-top: 40px;
}

#paro{
  font-size: 18px;
  color:  #fff;
  margin-top: 15px;
}

.homepage{
  background-color: white;
  border-radius: 2px;
  font-size: 15px;
  color: #33475b;
  padding: 20px;
  text-decoration: none;
  margin-top: 20px;
}

#para{
  font-size: 10px;
  margin-top: 40px;
  color: #cbd6e2;
  padding: 10px;
  margin-left: -10px;
  margin-bottom: 40px;
}

.sopra{
  text-align: center;
}

.cubo{
  max-width: 260px;
  margin-top: 40px;
}

.bet{
  font-size: 2rem;
  font-weight: 700;
  color: #33475b;
}

.ni{
  font-size: 15px;
  margin-top: 20px;
  color: #33475b;
  margin-bottom: 40px;
}
.libri{
  width: 200px;
}
.sin{
  display: inline-block;
 float: left;
 width: 40%;
 text-align: center;
 margin-left: 35px;

}

.link1{
  display:inline-block;
  text-align: center;
  background-color: coral;
    border-radius: 2px;
    font-size: 15px;
    color: #fff;
    padding: 10px;
    text-decoration: none;
    margin-top: 20px;


}

.des{
  display: inline-block;
  float: left;
  width:50%;
  text-align: left;
  margin-left: 30px;


}
.p1{
  margin-top: 20px;
  font-size: 15px;
}

.home1{
  font-size: 22px;
  color:#33475b;

}
.p2{
 text-align: left;
 color: #33475b;
 font-size: 20px;
 margin-top: 20px;

}
hr{
    display: block;
    overflow: hidden;
    border-style: inset;
    border-width: 1px;
    margin-top: 10px;
}

ul{
  margin-top: 20px;
  text-align: left;
  margin-left: -40px;
}
li{
  display: inline-block;
  padding:10px;
}

.fa-check{
  background-color: coral;
  color: white;
  border-radius: 10px;
  padding: 5px;
  font-size: 10px;
}

.contenuto{
  width:80vw;
  position: relative;
  padding: 50px;
  border: 1px solid #cbd6e2;
  background-color: white;

}
#c2{
  background-color: #f5f8fa;
  border: none;
 position: relative;
 width:80vw;
 
}

.contenuto:after{
  clear: both;
  content: '';
  display: table;
}
.contenuto > div img{
  height:150px;

}
.rot{
  display: inline-block;
  float: left;
  width:28.7%;
  text-align: center;
  padding: 20px;
border: 1px solid #cbd6e2;;
margin:20px;
border-radius: 5px;
background-color: white;
}

.lista2{
  text-align: center;
}

.rot li {
    margin: 10px 0;
    color: #33475b;
}

.rot li i {
    color: #ff7a59;
    margin-right: 20px;
}

.rot span {
    display: block;
    margin: 20px 0;
    font-size: 20px;
    text-align: center;}
